#logo {
  max-width: 250px;
  margin: 0 auto;
  display: block;
}

#game {
  padding: 0.5rem;
  width: fit-content;
  margin: 0 auto;
}

#menu {
  padding: 0.5rem;
  text-align: center;
}

.tile {
  display: inline-block;
  padding: 0.5rem;
  border: 1px solid black;
  width: 1rem;
  height: 1rem;
  text-align: center;
  cursor: pointer;
  vertical-align: bottom;
}

.tile[data-revealed=false] {
  background-color: gray;
}

.tile[data-flagged=true]:after {
  content: '🚩';
}

.tile[data-is-mine=true][data-revealed=true] {
  background-color: red;
}

.tile[data-is-mine=true][data-revealed=true]:after, #tiles.game-over .tile[data-is-mine=true]:after {
  content: '💣';
}

.surrounding {
  border: 1px solid orange;
}

.hovered {
  border: 1px solid red;
}

#annotations {
  width: 100%;
  text-align: center;
}
